body {
    font-family: sans-serif;
    margin: 0;
    background-color: #2c2c2c;
}

.container {
    display: flex;
}

/* Header */
header {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0056b3;
}


/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #333;
    padding: 10px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tab-button {
    background-color: #444;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.tab-button.active {
    background-color: #555;
}

.media-library {
    background-color: #444;
    padding: 10px;
    height: calc(100vh - 150px);
    overflow-y: auto;
}



.generate-new {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #3c3c3c;
    color: white;
}

.mode-content, .tab-content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.mode-content.active, .tab-content.active {
    display: block;
    opacity: 1;
}